name: test

on:
  workflow_dispatch:
    inputs:
      spot:
        type: string
        description: 'The spot ID to use for testing'
        required: true
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - 'main'
jobs:
  prebuild:
    runs-on: ubuntu-latest
    name: Find changed services

    outputs:
      affectedServices: ${{ steps.filter.outputs.changes }}

    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            fixtures:
              - 'fixtures/**'
            tests:
              - 'tests/**'
      - name: Print affected services
        run: "echo 'Matrix run: ${{ steps.filter.outputs.changes }} changed!'"
  build:
    strategy:
      fail-fast: false
      matrix:
        service: ${{ fromJSON(needs.prebuild.outputs.affectedServices) }}
    uses: ./.github/workflows/reusable-build.yaml
    needs: prebuild
    secrets: inherit
    with:
      service_name: idt-${{ matrix.service }}
      app_path: ./apps/${{ matrix.service }}
