name: reusable build

on:
  workflow_call:
    inputs:
      service_name:
        type: string
        required: true
      spot:
        type: string
        required: true
jobs:
  build:
    name: Build and push Docker image
    environment: development
    runs-on: ubuntu-latest
    steps:
      - name: Print affected services on reusable
        run: "echo 'Matrix run on reusable: ${{ inputs.service_name }}  ${{inputs.spot}} changed!'"
